* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    display: flex;
    background-color: lightslategrey;
    justify-content: center;
}

.outline {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    height: 115vh;
    width: 110vw;
    padding: 10px;
}

.calculator {
    border: 5px solid darkslateblue;
    display: grid;
    background-color: darkslateblue;
    grid-template-columns: repeat(4, 1fr);
    height: 70%;
    gap: 2px;
    padding: 5px;
}

h1 {
    text-align: center;
    color: darkslateblue;
}

.output {
    display:flex;
    justify-content: right;
    align-items: center;
    border: 2px solid black;
    background-color: black;
    color:  lightseagreen;
    grid-column: span 4;
    text-align: right;
    font-size: 200%;
}

button {
    border: 2px solid black;
    color: lightseagreen;
    background-color: darkorchid;
    font-size: 200%;
}

.ac {
    grid-column: span 2;
    color: lightyellow;
}

.equals {
    grid-column: span 2;
    color: lightyellow;
}

.zero {
    grid-column: span 2;
}

.decimal {
    color: lightyellow;
}

.divide {
    color: lightyellow;
}

.multiply {
    color: lightyellow;
}

.subtract {
    color: lightyellow;
}

.add {
    color: lightyellow;
}


/* 
* { 
    margin: 0;
    padding: 0;
    background-color: blue;
}

h1 {
    text-align: center;
    margin-left: 175px;
}

body {
    padding: 100px;
}

.calculator {
    display: grid;
    border: 10px grey solid;
    background-color: rgb(10, 119, 228);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    width: 30vw;
    margin-left: 35%;
    gap: 5px;
    padding: 70px;
}

.calculator > button {
    cursor: pointer;
    border: 1px solid black;
    background-color: grey;
    height: 100%;
    font-size: 200%;

}

.calculator > button:hover {
    background-color: lightskyblue;
}

.ac {
    grid-column: span 2;
}

.equals {
    grid-column: span 2;
}

.zero {
    grid-column: span 2;
}

.output {
    border: grey 2px solid;
    background-color: black;
    color: white;
    grid-column: span 4;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    width: 90%;
    font-size: 200%;
    height: 20%
}

output {
    background-color: black;
    width: 90%;
}

@media screen and (max-width: 390px) {

} */