* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    display: flex;
    background-color: lightslategrey;
    justify-content: center;
}

.outline {
    display: flex;
    flex-direction: column;
    height: 115vh;
    width: 110vw;
    padding: 10px;
}

.calculator {
    border: 3px solid black;
    display: grid;
    background-color: darkslateblue;
    border-radius: 15px;
    grid-template-columns: repeat(4, 1fr);
    height: 70%;
    gap: 7px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: darkslateblue;
    text-shadow: -1px 1px 0 darkorchid;
}

.output {
    display:flex;
    justify-content: right;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color:  lightseagreen;
    grid-column: span 4;
    text-align: right;
    font-size: 200%;
}

button {
    border: 3px solid black;
    border-radius: 10px;
    color: lightseagreen;
    background-color: darkorchid;
    text-shadow: -1px 1px 0 #000;
    font-size: 200%;
}

.ac {
    grid-column: span 2;
    color: lightyellow;
}

.equals {
    grid-column: span 2;
    color: lightyellow;
}

.zero {
    grid-column: span 2;
}

.decimal {
    color: lightyellow;
}

.divide {
    color: lightyellow;
}

.multiply {
    color: lightyellow;
}

.subtract {
    color: lightyellow;
}

.add {
    color: lightyellow;
}

@media screen and (min-width: 1000px) {

h1 {
    font-size: 300%;
}

.outline {
    width: 40vw;
}
}
